# 依赖
node_modules

# 包
plugins//**/*
public/**/*
lib/**/*
types/**/*

# test
a.login.config.ts
alemon.config.ts
a.main.ts
a.apps.ts
a.notes.md
a.api.ts

# 打印
logs
log
*.logs
*.los
