# 依赖
node_modules

# 包
/plugins/**/*
/public/**/*
/lib/**/*
/types/**/*


# docs
docs

# test
alemon.login.ts
alemon.config.ts
a.main.ts
a.apps.ts
a.api.ts
.image

# env 
alemon.env

# 打印
logs
log
*.logs
*.los
