.vscode
/config/
/default/
/example/
node_modules
/plugins/
/data/
/src/
.eslintrc.cjs
.gitignore
.npmrc
.prettierignore
.prettierrc.json
.puppeteerrc.cjs
index.js
index.ts
nodemon.json
index.js
index.ts
tsconfig.json