# 依赖
node_modules

# 包
lib
types

# 配置
/config/
tsconfig.json
.vscode
.prettierignore
.prettierrc.json
.puppeteerrc.cjs
.eslintrc.cjs
.gitignore
.npmrc
.apps

#脚本类
run.js
run.d.ts
build.js
build.d.ts

# 插件
/application/
/example/
/src/

# 缓存
/data/
/help/

# 额外生成物
index.js
alemon.toml
alemon.json
apps.js
index.js
index.ts
nodemon.json
index.js
index.ts

# 打印
logs
*.logs
*.los
