:root {
  --bg-color: rgb(60 58 58 / 79%);
}

#root[data-theme='blue'] {
  --bg-color: rgba(215, 218, 225, 0.73);
}

#root[data-theme='purple'] {
  --bg-color: rgb(164 178 205 / 92%);
}

#root[data-theme='red'] {
  --bg-color: rgba(238, 140, 140, 0.79);
}
