:root {
  --bg-img: url('@bot/assets/App-Store.png');
}

#root[data-theme='light'] {
  --bg-img: url('@bot/assets/Google-Play.png');
}

.show-image {
  background-image: var(--bg-img);
  background-size: auto 100%;
}
