#为项目单独设置镜像
registry=https://registry.npmmirror.com
# registry=https://registry.npmjs.com
# pup
PUPPETER_DOWNLOAD_BASE_URL=https://npmmirror.com/mirrors/chrome-for-testing
# 不生成lock
package-lock=false
# 改为 npm 依赖安装方式
node-linker=hoisted
